@model MentalHealthTracker.Web.Models.CreateEntryModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <form>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Mood)
                </div>
                <div class="col-md-9">
                    @Html.EnumDropDownListFor(model => model.Mood)
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Journal)
                </div>
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.Journal, new { rows = "6", cols = "100" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Medication)
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Medication, new { Width = 50 })
                </div>
            </div>
            <div class="col-md-3">
                <button onclick="location.href = '~/Entry';" class="btn btn-secondary" type="submit">Save</button>
            </div>
        </form>
    </div>
</body>
</html>
